<div>
<select id="database">
<option value="" selected="selected">-- Databases --</option>
<option value="bonus">Bonus</option>
<option value="learning_db">Learning</option>    
</select>
</div>
<div>
<textarea id='query' cols="100" rows="5"></textarea>
</div>
<div>
<button id="button">Run</button>
</div>
<div id="res">

</div>


