<div  style='background-color:gold'>
    <div class='Menu'>
        <p style="font-size: large; font-weight: bold; padding-left: 20px">Загруженные файлы:</p>
        <div id="downloadsFile"></div>
    </div>
    <div class="Content">
        <div class="request-block">
            <div>
                <form id='form' name="form">
                    <textarea id="comment" placeholder="Comment" name="comment"></textarea>
                    <input type='file' id="file" name="file" />
                    <button>Upload</button>
                    <div>
                        <div id="myBar" style="width:0%"></div>
                    </div>
                    <div id="status">Соединение не активно, ожидайте...</div>
                </form>
            </div>
        </div>
        <div style='clear:both'></div>
    </div>

    <div style='clear: both'></div>
</div>

